@model Core.Rate

@{
    ViewData["Title"] = "Delete";
    var productId = (int)ViewBag.productId;
}

<h3>Are you sure you want to delete this rate?</h3>
<br/>
<div class="card">
    <h5 class="card-header">@Html.DisplayFor(model => model.ProductName)</h5>
    <div class="card-body">
        <h5 class="card-title"> @Html.DisplayFor(model => model.RateNum)</h5>
        <p class="card-text">@Html.DisplayFor(model => model.Comment)</p>
        <form asp-action="Delete" asp-route-productId="@productId">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Rate List", "GetRatesPerProduct", "Rate", new { id = productId })
        </form>
    </div>
</div>

